.to-do .scroller{
    height: 31px;
    background-color: tan;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    overflow: hidden;
}
.to-do .scroller div{
    padding: 0.2rem 1.5rem;
}

/* icons */
.to-do :where(.icon-t , .icon-b){
    left: 50%;
    transform: translateX(-50%);
}
.to-do .icon-t {
    top: -20px;
}
.to-do .icon-b {
    bottom: -20px;
}
