@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
/* ========== file - content ==========  

- defulat 
- background design 
- App design
- input design
- ul design
- li design
- timer-dom design
- animation
- media

*/

/* ========== defulat ========== */
body{
  font-optical-sizing: auto;
  font-style: normal;
}
:root{
  --color1: #B1C1B6;
  --color2: #63818C;
  --color3: #446173;
  --color4: #1E3D59;
  --color5: #021826;
  --transition: 0.6s;
}

/* ========== App design ========== */
.to-do{
  background: var(--color1);
  padding-top: 50px;
  min-height: 100vh;
}
.to-do .parent{
  padding: 1rem;
  background-color:var(--color4); 
  border-top-right-radius: 30%;
}
.to-do h1{
  color: var(--color1);
}
.to-do h1 + span{
  background: linear-gradient(to right, white , var(--color2) 80%);
  color: transparent;
  background-clip: text;
  font-size: 1.3rem;
}
.to-do h1 + span + span{
  color: orange;
  font-size: 1.3rem;
  display: inline-block;
  text-shadow: 0px 0px 4px orange, 0 0 13px orange;
  text-transform: uppercase;
  animation: glow 1.5s alternate infinite;
}

/* ========== input design ========== */

.to-do .parent form{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 0.5rem;
}
.to-do .parent form input[type="text"]{
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  border-radius: 6px;
  border: none;
  outline: none;
  color: var(--color1);
  background-color: var(--color3); 
  flex: 1 86%;
  transition: var(--transition);
}

.to-do .parent form input[type="text"]::placeholder{
  color: var(--color4);
  text-transform: capitalize;
  transition: var(--transition);
  font-weight: 600;
  color: var(--color5);
}
.to-do .parent form input[type="text"]:focus::placeholder{
  opacity: 0;
}
.to-do .parent form input[type="submit"]{
  background-color: var(--color2);
  border: none;
  border-radius: 6px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.2rem;
  flex: 1 10%;
  transition: var(--transition);
  color: var(--color1);
}
.to-do .parent form input[type="submit"].forbidden{
  cursor: not-allowed;
  opacity: 0.3;
  color: black;
}


/* ========== ul design ========== */
.to-do .parent ul{
  list-style: none;   
  padding: 2rem;
  background-color: var(--color3);
  border: 1rem solid var(--color2);
  background: radial-gradient(var(--color2), transparent);
  min-height: 21rem;
  height: 21rem;
  overflow: auto;
}

/* ========== li design ========== */

.to-do  .list li{
  font-size: 2rem;
  color: var(--color1);
  padding: 0.8rem 0;
}
.to-do .parent ul li:not(:last-child){
  border-bottom: 2px solid var(--color5);
}

.to-do .parent ul li .controls span{
  padding: 0.2rem;
  border-radius: 40%;
  font-size: 1.5rem;
  border: 2px solid var(--color2);
  /* color: green; */
  cursor: pointer;
  transition: var(--transition);
}
.to-do .parent ul li .controls span:hover{
  color: var(--color5);
  scale: 1.1;
}
.to-do .parent ul li .controls span.icon-stopwatch:hover{
  background-color: var(--color2);
}
.to-do .parent ul li .controls span.icon-checkmark:hover{
  background-color: rgb(106 181 106);
}
.to-do .parent ul li .controls span.icon-moon:hover{
  background-color: #ff8484;;
}

/* ========== timer-dom design ========== */
.to-do .timer-background{
  width: 100%;
  height: 100%;
  background-color: #ffffff29;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  filter: opacity();
}
.to-do .timer-dom{
  padding: 1rem;
  /* position: fixed;
  top: 50%;
  left: 50%; */

  width: 80%;
  height: 80%;
  background-color: green;

}


/* ========== animation ========== */
@keyframes glow {
  from{text-shadow: 0 0 4px orange;}
  to{text-shadow: 0px 0px 4px orange, 0 0 13px orange;}
}