/* ========== file content ========== 
- noraml clock design
- user showTimer

*/



/* ========== normal clock design ========== */ 
.to-do .parent .clock{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--color3);
    border: 3px solid white;
    overflow: hidden;
}


.to-do .parent .clock span{
    position: absolute;
    font-weight: bold;
    color: orange;
    inset: 12px;
    text-align: center;
}
.to-do .parent .clock h5{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.18;
    letter-spacing: 0.3rem;
    font-size: 3rem;
}

/* ========== incase showDom ========== */

.to-do .parent .clock.showTimer{
    width: 290px;
    height: 290px;
}

.to-do .parent .clock.showTimer span{
    font-size: 1.5rem;
}

.to-do .parent .clock.showTimer h5{
    font-size: 4rem;
}
